<div class="container-fluid">
    <div class="row">
        <div class="wallpaper col-md-12">
            <div class="wallpaper__image">
                <img src="../../../assets/images/home_wp.jpg" alt="">
            </div>
            <span class="wallpaper__text">
                <h1>Welcome To Hostel Charito</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
            </span>
        </div>
    </div>
</div>
<section class="container section_rooms">
    <div class="row">
        <div class="col-md-12 room__tittle">
            <span>
                <h1>Habitaciones</h1>
            </span>
        </div>
        <div class="col-md-8 detail">
            <div class="detail__room">
                <div class="box">
                    <div class="box__img">
                        <img src="../../../assets/images/rooms/img01.jpg" alt="">
                    </div>
                </div>
                <div class="bg__img">
                    <p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>
                </div>
                <div class="info">
                    <span class="info__tittle">
                        <h2>Especial Room</h2>
                        <button class="btn room__btn">Reserve</button>
                    </span>
                    <span class="info__icon">
                        <p><i class="fas fa-users"></i>4 Personas</p>
                    </span>
                    <span class="info__text">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum aut eos sunt, laudantium minima a. Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Illum aut eos sunt, laudantium minima a.</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 rooms">
            <div class="rooms__img">
                <div class="box">
                    <div class="box__img">
                        <img src="../../../assets/images/rooms/img02.jpg" alt="">
                    </div>
                </div>
                <div class="bg__img">
                    <p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>
                </div>
            </div>
            <div class="rooms__img">
                <div class="box">
                    <div class="box__img">
                        <img src="../../../assets/images/rooms/img03.jpg" alt="">
                    </div>
                </div>
                <div class="bg__img">
                    <p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid section_gallery">
    <div class="row">
        <div class="col-md-5 gallery">
            <span class="gallery__text">
                <h1>Galería de fotos</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Totam blanditiis quam in tempora nam animi doloremque quia nihil 
                voluptate vitae ducimus ipsam minima</p>
            </span>
            <button class="btn gallery__btn">More</button>
        </div>
        <div class="col-md-7 pics">
            <div class="pics__box pic_3">
                <img src="../../../assets/images/gallery/img04.jpg" alt="">
            </div>
            <div class="pics__box pic_1">
                <img src="../../../assets/images/gallery/img02.jpg" alt="">
            </div>
            <div class="pics__box pic_2">
                <img src="../../../assets/images/gallery/img03.jpg" alt="">
            </div>
            <div class="pics__box pic_4">
                <img src="../../../assets/images/gallery/img01.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="container-fluid section_contact">
    <div class="row">
        <div class="contacto col-md-6">
            <div class="contacto__tittle">
                <span>
                    <h1>Contacto</h1>
                </span>
            </div>
            <div class="contacto__form">
                <form class="form-row">
                    <div class="log-input col-md-12 mb-3">
                        <input type="text" name="name" required>
                        <label for="name" class="label-name">
                            <span class="content-name">Nombre Completo</span>
                        </label>
                    </div>
                    <div class="log-input col-md-6 mb-3">
                        <input type="text" data-validate="Valid email is required: ex@abc.xyz" required>
                        <label for="email" name="email" class="label-name">
                            <span class="content-name">Email</span>
                        </label>
                    </div>
                    <div class="log-input col-md-5 mb-3">
                        <input type="tel" required>
                        <label for="phone" name="phone" class="label-name">
                            <span class="content-name">Teléfono</span>
                        </label>
                    </div>
                    <div class="log-input col-md-12 mb-3">
                        <input type="text" required>
                        <label for="message" name="message" class="label-name">
                            <span class="content-name">Mensaje</span>
                        </label>
                    </div>
                    <button class="btn contacto__button">Enviar</button>
                </form>
            </div>
        </div>
        <div class="mapa col-md-6">
            <div class="map__text">
                <span class="map__text--mb">
                    <p>Somos un Hostel con una línea de acción social enfocados en difundir el potencial turístico, gastronómico, arqueológico
                    y cultural de la Provincia de Barranca.</p>
                    <p>Ofrecemos un sistema hotelero con un equipo humano de calidad, capacitados para ofrecerte la mejor experiencia.</p>
                </span>
                <span class="map__text--lh">
                    <p><i class="fas fa-map-marker-alt"></i>Calle Simón Bolivar Mz I Lt. 9B, Barranca, Lima - Perú</p>
                    <p><i class="fas fa-envelope-open"></i>hostelcharito@gmail.com</p>
                    <p><i class="fas fa-mobile-alt"></i>(0993) 341 854</p>
                </span>
            </div>
            <div class="map__content">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1960.252683552465!2d-77.7819887209828!3d-10.69544882784088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910748578140781b%3A0xe1eb86c71be36781!2sclub%20&#39;Simon%20Bolivar&#39;!5e0!3m2!1ses-419!2spe!4v1579219856717!5m2!1ses-419!2spe"
                        frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
