<div class="container-fluid">
    <div class="row">
        <nav class="menu col-md-12">
            <div class="menu__logo">
                <a href="" class="menu__link--logo">
                    <img src="../../../assets/images/logo.png" alt="">
                </a>
            </div>
            <ul class="items">
                <li class="menu__item">
                    <a href="" class="menu__link">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__link">Galeria</a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__link">Servicio</a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__link">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
